@{
    ViewData["Title"] = "Política de Privacidad";
}

<div style="background-color: #f0f0f0; padding: 20px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <h1 class="text-center mb-4">@ViewData["Title"]</h1>

            <p class="lead text-justify">
                Bienvenido a 1989, tu destino en línea para moda de segunda mano. Estamos comprometidos con proteger tu privacidad y proporcionar una experiencia de compra segura. Por favor, tómate un momento para revisar nuestra Política de Privacidad.
            </p>

            <h2 class="mt-4">1. Información que Recopilamos</h2>

            <p class="text-justify">
                En 1989, recopilamos información que nos proporcionas al crear una cuenta, realizar una compra o comunicarte con nosotros. Esto puede incluir tu nombre, dirección, dirección de correo electrónico y detalles de pago. También recopilamos información de forma automática, como tu dirección IP y comportamiento de navegación.
            </p>

            <h2 class="mt-4">2. Uso de la Información</h2>

            <p class="text-justify">
                Utilizamos tu información para procesar pedidos, personalizar tu experiencia de compra y enviar actualizaciones sobre tus compras. También podemos utilizar la información para mejorar nuestro sitio y ofrecerte promociones relevantes.
            </p>

            <h2 class="mt-4">3. Compartir Información</h2>

            <p class="text-justify">
                No compartimos tu información personal con terceros, excepto en situaciones necesarias para proporcionar nuestros servicios, como el procesamiento de pagos y el envío de productos. Tu privacidad es importante para nosotros.
            </p>

            <h2 class="mt-4">4. Seguridad</h2>

            <p class="text-justify">
                Implementamos medidas de seguridad para proteger tu información personal. Sin embargo, ten en cuenta que ninguna transmisión por Internet o almacenamiento electrónico es completamente segura. Hacemos nuestro mejor esfuerzo para garantizar la seguridad de tus datos.
            </p>

            <h2 class="mt-4">5. Cookies</h2>

            <p class="text-justify">
                Utilizamos cookies para mejorar tu experiencia en nuestro sitio. Puedes gestionar las preferencias de cookies en tu navegador. Sin embargo, deshabilitar las cookies puede afectar la funcionalidad de nuestro sitio.
            </p>

            <h2 class="mt-4">6. Cambios en la Política</h2>

            <p class="text-justify">
                Nos reservamos el derecho de actualizar esta política en cualquier momento. Cualquier cambio se reflejará en esta página. Te recomendamos revisar nuestra Política de Privacidad periódicamente.
            </p>

            <h2 class="mt-4">7. Contacto</h2>

            <p class="text-justify">
                Si tienes preguntas sobre nuestra Política de Privacidad, contáctanos a través de [correo electrónico de contacto]. Estamos aquí para ayudarte.
            </p>

            <h2 class="mt-4">Preguntas Frecuentes (FAQ)</h2>

            <!-- Pregunta 1 -->
            <div class="accordion mt-3" id="faqAccordion1">
                <div class="card">
                    <div class="card-header" id="faqHeading1">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                                ¿Dónde puedo recoger mi ropa después de realizar una compra?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-parent="#faqAccordion1">
                        <div class="card-body">
                            Después de realizar una compra, puedes recoger tu ropa directamente en nuestra tienda física. La dirección y horarios están disponibles en nuestra sección de Contacto.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="accordion mt-3" id="faqAccordion2">
                <div class="card">
                    <div class="card-header" id="faqHeading2">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="true" aria-controls="faqCollapse2">
                                ¿De dónde proviene la ropa que venden?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion2">
                        <div class="card-body">
                            La ropa que vendemos proviene de diversas fuentes, principalmente de particulares que nos venden prendas de segunda mano en buen estado. Realizamos una cuidadosa selección para ofrecer productos de calidad.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="accordion mt-3" id="faqAccordion3">
                <div class="card">
                    <div class="card-header" id="faqHeading3">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="true" aria-controls="faqCollapse3">
                                ¿Cómo puedo devolver un artículo?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faqAccordion3">
                        <div class="card-body">
                            Puedes iniciar el proceso de devolución en la sección de Pedidos de tu cuenta. Para obtener más detalles, visita nuestra página de Devoluciones y Reembolsos.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 4 -->
            <div class="accordion mt-3" id="faqAccordion4">
                <div class="card">
                    <div class="card-header" id="faqHeading4">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse4" aria-expanded="true" aria-controls="faqCollapse4">
                                ¿Cuánto tiempo tarda en llegar mi pedido?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faqAccordion4">
                        <div class="card-body">
                            El tiempo de entrega varía según tu ubicación. Puedes revisar la estimación de entrega durante el proceso de pago antes de confirmar tu compra.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 5 -->
            <div class="accordion mt-3" id="faqAccordion5">
                <div class="card">
                    <div class="card-header" id="faqHeading5">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse5" aria-expanded="true" aria-controls="faqCollapse5">
                                ¿Puedo modificar mi pedido después de realizar la compra?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faqAccordion5">
                        <div class="card-body">
                            Lamentablemente, no podemos modificar pedidos una vez que se han realizado. Asegúrate de revisar cuidadosamente tu carrito antes de confirmar tu compra.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 6 -->
            <div class="accordion mt-3" id="faqAccordion6">
                <div class="card">
                    <div class="card-header" id="faqHeading6">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse6" aria-expanded="true" aria-controls="faqCollapse6">
                                ¿Qué medidas de seguridad toman con la información de mi tarjeta de crédito?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-parent="#faqAccordion6">
                        <div class="card-body">
                            Tu seguridad es nuestra prioridad. Utilizamos tecnologías de encriptación segura para proteger la información de tu tarjeta de crédito durante el proceso de pago.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pregunta 7 -->
            <div class="accordion mt-3" id="faqAccordion7">
                <div class="card">
                    <div class="card-header" id="faqHeading7">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faqCollapse7" aria-expanded="true" aria-controls="faqCollapse7">
                                ¿Ofrecen opciones de envío internacional?
                            </button>
                        </h5>
                    </div>

                    <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-parent="#faqAccordion7">
                        <div class="card-body">
                            Sí, ofrecemos opciones de envío internacional. Los costos y tiempos de entrega pueden variar según la ubicación. Puedes encontrar más detalles durante el proceso de pago.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
