@model PIAProgWEB.Models.dbModels.ProductoTalla

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductoTalla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TallaId" class="control-label"></label>
                <select asp-for="TallaId" class ="form-control" asp-items="@(ViewBag.Tallas as SelectList)"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class ="form-control" asp-items="@(ViewBag.Productos as SelectList)"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Create" asp-controller="Talla" class="btn btn-secondary">Agregar Tallas</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

