@model PIAProgWEB.Models.dbModels.Novedad

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Novedad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstacion" class="control-label"></label>
                <select asp-for="IdEstacion" class ="form-control" asp-items="ViewBag.IdEstacion"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-action="Create" asp-controller="ImagenNovedad" class="btn btn-success">Crear Imagen</a>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $(document).ready(function () {
            // Agrega un tiempo de espera para dar tiempo a que la nueva novedad se refleje en la base de datos
            setTimeout(function () {
                // Realiza una petición AJAX para obtener las novedades más recientes
                $.get('@Url.Action("GetLatestNovedades", "Novedads")', function (data) {
                    // Reemplaza el contenido de la sección de tarjetas con la información más reciente
                    $('#novedades-container').html(data);
                });
            }, 1000); // Puedes ajustar el tiempo de espera según tus necesidades
        });
    </script>
}
