body {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20220531/pngtree-blurred-waterside-pavilion-forest-waterfall-blur-photo-image_24791716.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}